@import "tailwindcss";
/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.categories-container {
  max-width: 900px; 
  margin: 40px auto;
  padding: 0 15px;
  text-align: center;
}

.categories-title {
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 50px;
  position: relative;
  display: inline-block; 
}

.categories-title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px; 
  transform: translateX(-50%);
  width: 50px; 
  height: 1px;
  background-color: #000;
}

.categories-layout {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
}

.card-wrapper {
    grid-column: span 1;
    grid-row: span 1;
}

.category-card {
  position: relative;
  overflow: hidden;
  height: 100%; 
  background-color: #f7f7f7; 
}

.category-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.category-name-box {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background-color: white; 
  padding: 6px 10px;
  font-family: sans-serif;
  font-size: 0.7em;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.load-more-button {
  margin-top: 50px;
  padding: 12px 30px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 0.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.load-more-button:hover {
  background-color: #f0f0f0;
}

